@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;1,200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");
/*font-family: 'Nunito Sans', sans-serif;*/
*{
	margin: 0px;
	padding: 0px;
}
.background {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: -1;
  }
  
  .background img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: blur(4px);
  }
.center{
	text-align: center;
}
.mt-10{
	margin-top: 10px;
}
.mt-20{
	margin-top: 20px;
}
.textbday{
  text-align:left;
  top:10px;
}

#LoginAndRegistrationForm {
	width: 350px;
	background: #46d4cf;
	margin-top: -600px;
	margin-bottom: 100px;
	margin-left: 200px; /* Adjust the left margin as needed */
	border-radius: 10px;
	padding: 15px;
	transform: scale(1.2);
	box-shadow: 0px 0px 6px 0px #cdcdcd;
  }
  
  .logo {
	margin-top: 200px;
	margin-right: 450px; /* Adjust the right margin as needed */
	text-align: right;
  }

#formTitle{
	text-align: center;
	padding-top: 10px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bolder;
	letter-spacing: 1px;
	font-size: 25px;
}

#formSwitchBtn{
	display: flex;
	justify-content: center;
	padding: 20px 0px;
}
#formSwitchBtn button{
	font-size: 17px;
	letter-spacing: 1px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bolder;
	width: 160px;
	height: 40px;
	border: 0px;
	cursor: pointer;
	position: relative;
	background: transparent;
	border: 1px solid #747474;
	transition: 0.4s;
}
#formSwitchBtn .active{
	color: #fff;
	background: #747474;
}
.input-text{
	width: 100%;
	height: 38px;
	border: 0px;
	border: 1px solid #747474;
	box-sizing: border-box;
	padding: 5px;
	border-radius: 5px;
	font-size: 17px;
	font-family: 'Nunito Sans', sans-serif;
}

.input-text:focus{
	outline: none;
}

.forgot-pass-remember-me{
	display: flex;
	justify-content: center;
	gap: 90px;
	font-size: 14px;
}

.forgot-pass-remember-me #ForgotPassword{
	color: #002b27;
	font-weight: bold;
	transition: 0.4s;
}
.forgot-pass-remember-me #ForgotPassword:hover{
	color: #008d7f;
}

.forgot-pass-remember-me input{
	height: 12px;
}
.forgot-pass-remember-me label{
	font-family: 'Nunito Sans', sans-serif;
}
.forgot-pass-remember-me a{
	text-decoration: none;
	font-family: 'Nunito Sans', sans-serif;
	font-style: italic;
}
.Submit-Btn{
	width: 100%;
	height: 42px;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 17px;
	letter-spacing: 1px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bolder;
	transition: 0.4s;
	background-color: #747474;
	color: #fff;
}
.Submit-Btn:hover{
	background-color: #444444;
	color: #fff;
	
}
.dont-have-account,
.already-have-account{
	font-family: 'Nunito Sans', sans-serif;
	letter-spacing: 0.3px;
	font-size: 14px;
	color: #747474;
	font-weight: bold;
}
.dont-have-account a,
.already-have-account a{
	font-family: 'Nunito Sans', sans-serif;
	font-style: italic !important;
	text-decoration: none;
	color: #002b27;
	font-weight: bold;
	transition: 0.4s;
}
.dont-have-account a:hover,
.already-have-account a:hover{
	color: #008d7f;
}

#RegistrationFrom,
#ForgotPasswordForm{
	display: none;
}
.error-input{
	border: 1px solid #ff5b5b;
}
.error-message{
	font-size: 11px; 
	font-weight: bold; 
	color: #ff5b5b;
	text-align: left; 
	margin: 0px; 
	padding: 0px; 
	margin-top: 2px; 
	transform: translate(-50%, -50%);
	background-color: #ff5252;
	color: #ffffff;
	padding: 10px;
	width: 200px;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        animation: fade-in 0.5s, fade-out 0.5s 2.5s forwards;
        -webkit-animation: fade-in 0.5s, fade-out 1.5s 2.5s forwards;
        z-index: 9999;
		margin-left: 50%;
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
